<h1><%= @post.title %></h1>

<h4>Date posted: <%= @post.created_at %></h4>

<br>

<%= image_tag @post.photo.url(:medium) %>

<p class="bold">
  <%= @post.entry %>
</p>


<div class="comments" id="comments">
  <h4>Comments:</h4>
  <% if @post.comments.any? %>
    <%= render @post.comments %>
  <% end %>
</div>

<%= link_to "Leave a comment", new_post_comment_path(@post), class: "btn btn-success", id: "new_comment_button", remote: true %>

<br>
<br>

<%= link_to "Edit Post", edit_post_path, :class => "btn btn-warning" %>

<%= link_to "Delete post", post_path(@post), :data => { :confirm => "Are you sure you want to erase this thought from the physical world?", :method => "delete" }, :class => "btn btn-danger" %>

<%= link_to "Back to Posts", posts_path, :class => "btn btn-primary" %>
