<p>
  Date posted: <%= @post.created_at %>
</p>
<h1><%= @post.title %></h1>
<br>
<p>
  <%= @post.entry %>
</p>

<%= link_to "Edit", edit_post_path, :class => "btn btn-warning" %>

<%= link_to "Back to Posts", posts_path, :class => "btn btn-default" %>
